.favorites-page {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-main);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    padding: 10%;
    z-index: 1;
}